.user-preview
    p Name: #{friend.data.lName + ' ' + friend.data.fName + ' ' + friend.data.mName}
    p Birthday: #{friend.data.birthday}
    p Email: #{friend.data.email}
    p Role: #{friend.role.name}
    p Status: #{friend.status.status}