.user-preview(data-id=user.id)
    p Name: #{user.data.fName + ' ' + user.data.lName + ' ' +user.data.mName}
    p Birthday: #{user.data.birthday}
    p Email: #{user.data.email}
    p Role: #{user.role.name}
    p Status: #{user.status.status}